@keyframes pulse {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes fadeUp {
    
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }
    
    100% {
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideInTop {
    0% {
        @include transform(translateY(-10rem));
    }

    100% {
        @include transform(translateY(0));
        opacity: 1;
    }
}

@keyframes slideInBottom {
    0% {
        @include transform(translateY(10rem));
    }

    100% {
        @include transform(translateY(0));
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        @include transform(translateX(-16rem));
    }

    100% {
        @include transform(translateX(0));
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        @include transform(translateX(16rem));
    }

    100% {
        @include transform(translateX(0));
        opacity: 1;
    }
}
