body {
    font-family: $body-font;
    font-weight: 400;
    color: var(--color-grey-1);
    line-height: 1.7;
}

h1, h2, h3, h4 {
    font-family: $heading-font;
    font-weight: 300;
}


.heading-primary {
    font-size: 5em;
    letter-spacing: 2px;

    @media only screen and (max-width: $bp-small) {
        font-size: 3.5em;
    }

    @media only screen and (min-width: 1888px) {
        font-size: 7em;
    }

}


.heading-secondary {
    font-size: 2em;
    text-transform: uppercase;
    color: var(--color-dark-1);
    position: relative;

    &::before,
    &::after {
        content: '';
        background-color: var(--color-dark-1);
        position: absolute;
        width: 4%;
        height: 2px;
        top: 50%;

        @media only screen and (max-width: $bp-small) {
            width: 6%;
        }
    }

    &::before {
        @include transform(translate(-42%, -50%));
        left: 42%;

        @media only screen and (max-width: $bp-large) {
            @include transform(translate(-60%, -50%));
        }

        @media only screen and (max-width: $bp-small) {
            @include transform(translate(-90%, -50%));
            left: 40%;
        }

        @media only screen and (max-width: $bp-smallest) {
            @include transform(translate(-100%, -50%));
            left: 39%;
        }

    }

    &::after {
        @include transform(translate(-60%, -50%));
        left: 58%;

        @media only screen and (max-width: $bp-large) {
            @include transform(translate(-42%, -50%));
        }

        @media only screen and (max-width: $bp-small) {
            @include transform(translate(-11%, -50%));
            left: 60%;
        }

        @media only screen and (max-width: $bp-smallest) {
            @include transform(translate(-1%, -50%));
            left: 61%;
        }
    }

    &--white {
        color: #fff;

        &::before,
        &::after {
            background-color: #fff;
        }
    }

}

.heading-tertiary {
    font-size: 3.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.paragraph {
    font-size: 1.5em;

    &--works {
        color: #fff;
        font-size: 1.6em;
        text-align: center;
    }

}
