.contact {
    padding: 5rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/bg-contact.jpg);
    background-size: cover;
    background-position: center;

    &__text {
        &--heading {
            @extend .heading-secondary;
            @extend .heading-secondary--white;
            @extend .u-text-center;
            @extend .u-margin-bottom-big;
        }
    }

    &__inner {
        @include flexbox;
        @include justify-content(space-around);
        @extend .wrapper;
        padding: 2rem 0;


        @media only screen and (max-width: $bp-smallest) {
            @include flex-direction(column);
        }

    }


    &__email {
        @extend .contact__phone;

        @media only screen and (max-width: $bp-smallest) {
            margin-bottom: 5rem;
        }

    }

    &__phone {
        &,
        &:link,
        &:visited {
            text-decoration: none;
            color: #fff;
            font-size: 3em;
            @include flexbox;
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            @include transition(all .3s);

            @media only screen and (max-width: $bp-small) {
                font-size: 2.5em;
            }
        }

        &:hover {
            @include transform(translateY(-.4rem) scale(1.05));
        }
    }

    &__icon {
        @extend .icon-contact;
    }
}
