.move-top {
    @include transition(all .3s cubic-bezier(.56, .22, .31, 1.44));
    @include transform(scale(0));
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 100;
    opacity: 0;
    visibility: hidden;

    &--active {
        @include transform(scale(1));
        opacity: 1;
        visibility: visible;
    }

    &:hover {
        @include transform(scale(1.15));
    }

    &__icon {
        @extend .icon-arrow-top;
    }
}
